@font-face {
    font-family: 'AdelpheTrouble';
    src: url('../assets/fonts/Adelphe-Trouble-FlorealRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'AdelpheTrouble', sans-serif;
    background-color: #9D6638;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px 16px 24px;
    background-color: #F7F1DE;
    margin: 20px;
    border-radius: 12px;
}

.nav-logo a {
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items li {
    margin-left: 20px;
    font-size: large;
}

.hero-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 20px;
    border: 1px solid white;
    border-radius: 12px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-size: 98px;
    font-style: italic;
    text-align: center;
}

.hero-desc {
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    color: #040457;
    margin-bottom: 24px;
}

.hero-buttons {
    font-family: "Google Sans", sans-serif;
}

.hero-buttons a {
    font-size: 20px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    border: 1px solid blue;
    padding: 10px;
    border-radius: 12px;
}