@font-face {
    font-family: 'AdelpheTrouble';
    src: url('../assets/fonts/Adelphe-Trouble-FlorealRegular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AdelpheTrouble', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.nav-logo a {
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items li {
    margin-left: 20px;
}